<% card.forEach((card) => { %>
<article class="card">
   <a href="<%= card.link %>">
      <img src="<%= card.image %>" alt="<%= card.alt %>" class="front" />
      <p class="title"><%= card.title %></p>
      <p class="genres"><%= card.genres %></p>
      <p class="rating"><%= card.rating %></p>
   </a>
</article>
<% }) %>