<article class="card-container">
   <% for (let i = 0; i < card.length; i++) { %>
   <div class="<%= cardClass[i] %>">
      <a href="/products/<%= card[i].id %>">
         <img
            src="/images/movies/<%= card[i].image %>"
            alt="<%= card[i].alt %>"
         />
      </a>
      <p class="title"><%= card[i].title %></p>
   </div>
   <% } %>
</article>
