<% product.forEach((product) => { %>
<article class="membership-container">
   <h2 class="membership-tier-title">Plan <%= product.tier %></h2>
   <p class="membership-tier-description"><%= product.description %></p>
   <section class="membership-discounts-container">
      <div class="discounts">
         <i class="fa-solid fa-ticket"></i>
         <p><%= product.discount_one %></p>
      </div>
      <div class="discounts">
         <i class="fa-solid fa-cookie-bite"></i>
         <p><%= product.discount_two %></p>
      </div>
      <div class="discounts">
         <i class="fa-solid fa-play"></i>
         <p><%= product.discount_three %></p>
      </div>
   </section>
   <p class="membership-price">$<%= product.price %></p>
   <button class="membership-btn" type="submit">Subscribe</button>
</article>
<% }) %>
