<% ticket.forEach((ticket) => { %>
<article class="card">
   <div class="card-front">
      <img
         src="/images/tickets/<%= ticket.image %>"
         alt="<%= ticket.title %>"
         class="cardPhoto"
      />
   </div>
   <div class="card-back">
      <h3 class="description"><%= ticket.title %></h3>
      <h3 class="description"><%= ticket.synopsis %></h3>
      <p class="show">Genres: <%= ticket.genre %></p>
      <p class="show">Room: <%= ticket.room %></p>
      <div class="form-class">
         <%= ticket.price %>
         <button type="submit" class="buy-button">
            <i class="fa-solid fa-cart-plus" id="cart"></i>
         </button>
      </div>
   </div>
</article>
<script src="/js/scripts.js"></script>
<% }) %>
