<% ticket.forEach((ticket) => { %>
<article class="ticket">
   <img
      src="/images/tickets/<%= ticket.image %>"
      alt="<%= ticket.title %>"
      class="ticket-img"
   />
   <div class="ticket-info">
      <p class="ticket-title"><%= ticket.title %></p>
      <p class="ticket-room">Room <%= ticket.room %></p>
      <div>
         <p class="ticket-price">Price $<%= ticket.price %></p>
         <button type="submit" class="ticket-button">
            <i class="fa-solid fa-cart-plus" id="cart"></i>
         </button>
      </div>
   </div>
</article>
<% }) %>
