<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('./partials/head')%>
      <link rel="stylesheet" href="/styles/home/home.css" />
      <link rel="stylesheet" href="/styles/home/card.css" />
   </head>
   <body>
      <%- include('./partials/navbar')%>
      <main class="home-main-container">
         <!-- BACKGROUND IMAGE  -->
         <article class="home-layout-container">
            <section class="home-layout">
               <img
                  class="layout-mobile-img"
                  src="/images/home/mobile/<%= mobileImg %>"
                  alt="Movie"
               />
               <img
                  class="layout-desktop-img"
                  src="/images/home/desktop/<%= desktopImg %>"
                  alt="Movie"
               />
               <p class="layout-mobile-title">Digital Movies</p>
            </section>
         </article>
         <!-- MOVIES AND SERIES LINKS -->
         <section class="home-filter-container">
            <ul class="home-filters">
               <li><a href="/movies">Movies</a></li>
               <li><a href="/series">Series</a></li>
               <li><a href="/best-rating">Best Rating</a></li>
            </ul>
         </section>
         <!-- MOVIES AND SERIES CARDS -->
         <%- include('./partials/cards')%>
      </main>
      <%- include('./partials/footer')%>
   </body>
</html>
