<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('../partials/head')%>
      <link rel="stylesheet" href="/styles/cart/cart.css" />
   </head>
   <body>
      <%- include('../partials/navbar')%>
      <main class="main-container">
         <!-- LEFT BOX -->
         <section class="left-box-container">
            <!-- PRODUCTS -->
            <%- include('../partials/cartProducts')%>
         </section>
         <!-- RIGHT BOX -->
         <section class="purchase_summary-container">
            <p class="purchase-summary">Productos:</p>
            <ul class="list-products">
               <% cartProducts.forEach((product) => { %>
               <li>
                  <%= product.name %>:
                  <span>$<%= product.price * product.quantity %></span>
               </li>
               <% }) %>
            </ul>
            <!-- Falta agregar dinamismo a la base de datos y al total de precio para que se sume el total de precios x productos y se muestre
            solamente el total -->
            <p class="total-to-pay">Total to pay: $</p>
            <button type="submit">Go pay</button>
         </section>
      </main>
      <%- include('../partials/footer')%>
   </body>
</html>
