<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('./partials/head')%>
      <link rel="stylesheet" href="/styles/login/login-page.css" />
      <title>Sign in</title>
   </head>
   <body class="background">
      <%- include('./partials/header')%>
      <main>
         <section class="hero">
            <video autoplay muted loop plays-inline id="myVideo">
               <source src="/videos/barbie-trailer.mp4" type="video/mp4" />
            </video>
         </section>
         <section class="login-page">
            <div class="page-card">
               <div class="welcome-logo">
                  <p>Welcome</p>
               </div>
               <section>
                  <form action="/user/login" method="POST">
                     <label for="email">Email</label>
                     <input
                        type="text"
                        class="email"
                        name="email"
                        placeholder="Mail"
                        value="<%= locals.oldData ? oldData.email : null %>"
                     />
                     <% if (locals.errors && errors.email) { %>
                     <p class="errors" style="color: white">
                        <%= errors.email.msg %>
                     </p>
                     <% } %>
                     <label for="password">Password</label>
                     <input
                        type="password"
                        class="password"
                        name="password"
                        placeholder="Password"
                        value="<%= locals.oldData ? oldData.password : null %>"
                     />
                     <% if (locals.errors && errors.password) { %>
                     <p class="errors" style="color: white">
                        <%= errors.password.msg %>
                     </p>
                     <% } %>
                     <div class="remember">
                        <input
                           type="checkbox"
                           name="remember"
                           id="remember"
                        />Remember me
                     </div>
                     <button type="submit" class="bn38">Sign in</button>
                  </form>
               </section>
               <p>
                  <a href="/user/register" class="register-link"
                     >Don't have an account?</a
                  >
               </p>
            </div>
         </section>
      </main>
      <%- include('./partials/footer')%>
   </body>
</html>
