<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('../partials/head')%>
      <link rel="stylesheet" href="/styles/login/login-page.css" />
      <title>Sign in</title>
   </head>
   <body class="background">
      <%- include('../partials/navbar')%>
      <main>
         <article class="hero">
            <video autoplay muted loop plays-inline id="myVideo">
               <source src="/videos/<%= trailer %>" type="video/mp4" />
            </video>
         </article>
         <article class="login-page">
            <section class="page-card">
               <p class="welcome-logo">Welcome</p>
               <section>
                  <form action="/user/login" method="POST" id="loginUserForm">
                     <label for="email">Email</label>
                     <input
                        type="text"
                        class="email"
                        id="email"
                        name="email"
                        placeholder="email"
                        value="<%= locals.oldData ? oldData.email : null %>"
                     />
                     <div class="error-email" style="color: yellow">
                        <p class="error-email field-feedback"></p>
                        <% if (locals.errors && errors.email) { %>
                        <p class="errors"><%= errors.email.msg %></p>
                        <% } %>
                     </div>
                     <label for="password">Password</label>
                     <input
                        type="password"
                        class="password"
                        name="password"
                        id="password"
                        placeholder="Password"
                        value="<%= locals.oldData ? oldData.password : null %>"
                     />
                     <div class="error-password" style="color: yellow">
                        <p class="error-password field-feedback"></p>
                        <% if (locals.errors && errors.password) { %>
                        <p class="errors"><%= errors.password.msg %></p>
                        <% } %>
                     </div>
                     <div class="remember-check">
                        <label>Remember me</label>
                        <input
                           type="checkbox"
                           name="remember"
                           id="remember-checkbox"
                        />
                     </div>
                     <button type="submit" class="bn38">Sign in</button>
                  </form>
               </section>
               <p>
                  <a href="/user/register" class="register-link"
                     >Don't have an account?</a
                  >
               </p>
            </section>
         </article>
      </main>
      <%- include('../partials/footer')%>
      <script src="/scripts/validationsUserLogin.js"></script>
   </body>
</html>
