<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('../partials/head')%>
      <link rel="stylesheet" href="/styles/users/profile.css" />
      <title>Digital Movies</title>
   </head>
   <body class="background">
      <%- include('../partials/navbar')%>
      <main>
         <section class="profile">
            <p><%= user.first_name %></p>
            <div>
               <img src="<%= user.image %>" alt="<%= user.name %>" />
            </div>
            <p><%= user.email %></p>
            <button type="button"><a href="/user/logout">Logout</a></button>
         </section>
      </main>
      <%- include('../partials/footer')%>
   </body>
</html>
