<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('../partials/head') %>
      <link rel="stylesheet" href="/styles/users/profile.css" />
   </head>
   <body>
      <%- include('../partials/navbar') %>
      <main class="user-main-container">
         <article class="profile-card">
            <img src="/images/users/<%= user.image %>" alt="<%= user.name %>" />
            <h2>My profile</h2>
            <p class="profile-info">
               <%= user.first_name %> <%= user.last_name %>
            </p>
            <p class="profile-info"><%= user.email %></p>
         </article>
         <button class="user-button" type="button">
            <a href="/user/logout">Logout</a>
         </button>
      </main>
      <%- include('../partials/footer') %>
   </body>
</html>
