<!DOCTYPE html>
<html lang="es">
   <head>
      <%- include('../partials/head')%>
      <link rel="stylesheet" href="/styles/register/register.css" />
      <title>Register</title>
   </head>
   <body class="body_formulario">
      <%- include('../partials/navbar')%>
      <main class="main_formulario">
         <section class="hero">
            <video autoplay muted loop plays-inline id="myVideo">
               <source
                  src="/videos/interstellar-trailer.mp4"
                  type="video/mp4"
               />
            </video>
         </section>
         <section class="errors">
            <ul></ul>
         </section>
         <form
            action="/user/register"
            method="post"
            enctype="multipart/form-data"
            class="formulario"
            id="registerUserForm"
         >
            <h2 class="formulario_titulo">Create your account</h2>
            <div class="formulario_input">
               <label for="first_name" class="input_subtitulo">Name</label>
               <input
                  type="text"
                  id="first_name"
                  name="first_name"
                  class="input"
                  placeholder="First name"
                  value="<%= locals.oldData ? oldData.first_name : null %>"
               />
               <div class="error-first-name" style="color: yellow">
                  <p class="error-first-name field-feedback"></p>
                  <% if (locals.errors && errors.first_name) { %>
                  <p class="errors"><%= errors.first_name.msg %></p>
                  <% } %>
               </div>
            </div>
            <div class="formulario_input">
               <label for="last_name" class="input_subtitulo">Surname</label>
               <input
                  type="text"
                  id="last_name"
                  name="last_name"
                  class="input"
                  placeholder="Last name"
                  value="<%= locals.oldData ? oldData.last_name : null %>"
               />
               <div class="error-last-name" style="color: yellow">
                  <p class="error-last-name field-feedback"></p>
                  <% if (locals.errors && errors.last_name) { %>
                  <p class="errors"><%= errors.last_name.msg %></p>
                  <% } %>
               </div>
            </div>
            <div class="formulario_input">
               <label for="email" class="input_subtitulo">Email</label>
               <input
                  type="email"
                  id="email"
                  name="email"
                  class="input"
                  placeholder="Email"
                  value="<%= locals.oldData ? oldData.email : null %>"
               />
               <div class="error-email" style="color: yellow">
                  <p class="error-email field-feedback"></p>
                  <% if (locals.errors && errors.email) { %>
                  <p class="errors"><%= errors.email.msg %></p>
                  <% } %>
               </div>
            </div>
            <div class="formulario_input">
               <label for="" class="input_subtitulo">Password</label>
               <input
                  type="password"
                  id="password"
                  name="password"
                  class="input"
                  placeholder="Password"
                  value="<%= locals.oldData ? oldData.password : null %>"
               />
               <div class="error-password" style="color: yellow">
                  <p class="error-password field-feedback"></p>
                  <% if (locals.errors && errors.password) { %>
                  <p class="errors"><%= errors.password.msg %></p>
                  <% } %>
               </div>
            </div>
            <div class="formulario_input">
               <label for="password" class="input_subtitulo"
                  >Confirm password</label
               >
               <input
                  type="password"
                  id="confirm_password"
                  name="confirm_password"
                  class="input"
                  placeholder="Confirm password"
                  value="<%= locals.oldData ? oldData.confirm_password : null %>"
               />
               <div class="error-confirm-password" style="color: yellow">
                  <p class="error-confirm-password field-feedback"></p>
                  <% if (locals.errors && errors.confirm_password) { %>
                  <p class="errors"><%= errors.confirm_password.msg %></p>
                  <% } %>
               </div>
            </div>
            <div class="formulario_input">
               <label for="image" class="input_subtitulo">Image</label>
               <input type="file" id="user_image" name="image" class="input" />
               <div class="error-image" style="color: yellow">
                  <p class="error-image field-feedback"></p>
                  <% if (locals.errors && errors.image) { %>
                  <p class="errors"><%= errors.image.msg %></p>
                  <% } %>
               </div>
            </div>
            <div class="formulario_boton">
               <button type="submit" class="boton_enviar">Sign up</button>
            </div>
            <div class="formulario_foot">
               <h2 class="foot_titulo">Do you have an account?</h2>
               <a href="/user/login" class="foot_cuenta">Log in</a>
            </div>
         </form>
      </main>
      <%- include('../partials/footer')%>
      <script src="/scripts/validationsUserResgister.js"></script>
   </body>
</html>
