<!DOCTYPE html>
<html lang="es">
   <head>
      <%- include('./partials/head')%>
      <link rel="stylesheet" href="/styles/register/register.css" />
      <title>Register</title>
   </head>
   <body class="body_formulario">
      <%- include('./partials/header')%>
      <main class="main_formulario">
         <section class="hero">
            <video autoplay muted loop plays-inline id="myVideo">
               <source src="/video/interstellar-trailer.mp4" type="video/mp4" />
            </video>
         </section>
         <form
            action="/user/register"
            method="post"
            enctype="multipart/form-data"
            class="formulario"
         >
            <h1 class="formulario_titulo">Create your account</h1>
            <div class="formulario_input">
               <label for="first_name" class="input_subtitulo">Name</label>
               <input
                  type="text"
                  id="first_name"
                  name="first_name"
                  class="input"
                  placeholder="First name"
                  value="<%= locals.oldData ? oldData.first_name : null %>"
               />
               <% if (locals.errors && errors.first_name) { %>
               <p class="errors" style="color: white">
                  <%= errors.first_name.msg %>
               </p>
               <% } %>
            </div>
            <div class="formulario_input">
               <label for="last_name" class="input_subtitulo">Surname</label>
               <input
                  type="text"
                  id="last_name"
                  name="last_name"
                  class="input"
                  placeholder="Last name"
                  value="<%= locals.oldData ? oldData.last_name : null %>"
               />
               <% if (locals.errors && errors.last_name) { %>
               <p class="errors" style="color: white">
                  <%= errors.last_name.msg %>
               </p>
               <% } %>
            </div>
            <div class="formulario_input">
               <label for="email" class="input_subtitulo">Email</label>
               <input
                  type="email"
                  id="email"
                  name="email"
                  class="input"
                  placeholder="Email"
                  value="<%= locals.oldData ? oldData.email : null %>"
               />
               <% if (locals.errors && errors.email) { %>
               <p class="errors" style="color: white">
                  <%= errors.email.msg %>
               </p>
               <% } %>
            </div>
            <div class="formulario_input">
               <label for="" class="input_subtitulo">Password</label>
               <input
                  type="password"
                  id="password"
                  name="password"
                  class="input"
                  placeholder="Password"
                  value="<%= locals.oldData ? oldData.password : null %>"
               />
               <% if (locals.errors && errors.password) { %>
               <p class="errors" style="color: white">
                  <%= errors.password.msg %>
               </p>
               <% } %>
            </div>
            <div class="formulario_input">
               <label for="password" class="input_subtitulo"
                  >Confirm password</label
               >
               <input
                  type="password"
                  id="password"
                  name="confirm_password"
                  class="input"
                  placeholder="Confirm password"
                  value="<%= locals.oldData ? oldData.confirm_password : null %>"
               />
               <% if (locals.errors && errors.confirm_password) { %>
               <p class="errors" style="color: white">
                  <%= errors.confirm_password.msg %>
               </p>
               <% } %>
            </div>
            <div class="formulario_input">
               <label for="image" class="input_subtitulo">Image</label>
               <input type="file" name="image" class="input" />
               <% if (locals.errors && errors.image) { %>
               <p class="errors" style="color: white">
                  <%= errors.image.msg %>
               </p>
               <% } %>
            </div>
            <div class="formulario_boton">
               <button type="submit" class="boton_enviar">Sign up</button>
            </div>
            <div class="formulario_foot">
               <h2 class="foot_titulo">Do you have an account?</h2>
               <a href="/user/login" class="foot_cuenta">Log in</a>
            </div>
         </form>
      </main>
      <%- include('./partials/footer')%>
   </body>
</html>
