<% ticket.forEach((ticket) => { %>
<section class="tarjeta">
   <div class="tarjeta-front">
      <img
         src="/images/tickets/<%= ticket.image %>"
         alt="<%= ticket.title %>"
         class="fotoTarjeta"
      />
   </div>
   <div class="tarjeta-back">
      <div class="container-descripcion">
         <h3 class="descripcion"><%= ticket.title %></h3>
         <h3 class="descripcion"><%= ticket.synopsis %></h3>
         <p class="funciones">Genres: <%= ticket.genre %></p>
         <p class="funciones">Room: <%= ticket.room %></p>
         <form class="form-class">
            <button type="submit" class="boton-comprar">
               <%= ticket.price %>
               <i class="fa-solid fa-cart-plus" id="cart"></i>
            </button>
         </form>
      </div>
   </div>
</section>
<% }) %>
