<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('./partials/head')%>
      <title>Cards Edit Form</title>
   </head>
   <body>
      <%- include('./partials/header')%>
      <main>
         <h2>Edit or update media card</h2>
         <form
            action="/cards/edit/<%= cardToEdit.id %>?_method=put"
            method="post"
            enctype="multipart/form-data"
         >
            <div>
               <label for="genres">Genres</label>
               <input
                  type="text"
                  id="genres"
                  name="genres"
                  value="<%= cardToEdit.genre %>"
               />
               <% if (locals.errors && errors.genres) { %>
               <p class="errors"><%= errors.genres.msg %></p>
               <% } %>
            </div>
            <div>
               <label for="image">Image</label>
               <input
                  type="file"
                  id="image"
                  name="image"
                  value="<%= cardToEdit.image %>"
               />
               <% if (locals.errors && errors.image) { %>
               <p class="errors"><%= errors.image.msg %></p>
               <% } %>
            </div>
            <div>
               <label for="link">Trailer link's</label>
               <input
                  type="text"
                  id="link"
                  name="link"
                  value="<%= cardToEdit.link %>"
               />
               <% if (locals.errors && errors.link) { %>
               <p class="errors"><%= errors.link.msg %></p>
               <% } %>
            </div>
            <div>
               <label for="rating">Rating</label>
               <input
                  type="text"
                  id="rating"
                  name="rating"
                  value="<%= cardToEdit.rating %>"
               />
               <% if (locals.errors && errors.rating) { %>
               <p class="errors"><%= errors.rating.msg %></p>
               <% } %>
            </div>
            <div>
               <label for="synopsis">Synopsis</label>
               <input
                  type="text"
                  id="synopsis"
                  name="synopsis"
                  value="<%= cardToEdit.synopsis %>"
               />
               <% if (locals.errors && errors.synopsis) { %>
               <p class="errors"><%= errors.synopsis.msg %></p>
               <% } %>
            </div>
            <div>
               <label for="title">Title</label>
               <input
                  type="text"
                  id="title"
                  name="title"
                  value="<%= cardToEdit.title %>"
               />
               <% if (locals.errors && errors.title) { %>
               <p class="errors"><%= errors.title.msg %></p>
               <% } %>
            </div>
            <div>
               <label for="price">Price</label>
               <input
                  type="text"
                  id="price"
                  name="price"
                  placeholder="0.99"
                  value="<%= cardToEdit.price%>"
               />
               <% if (locals.errors && errors.price) { %>
               <p class="errors"><%= errors.price.msg %></p>
               <% } %>
            </div>
            <div>
               <label for="category">Category</label>
               <select name="category" id="category">
                  <option value="Movie">Movie</option>
                  <option value="Serie">Serie</option>
               </select>
            </div>
            <div>
               <button type="submit">Confirm edit</button>
            </div>
         </form>
         <form
            action="/cards/delete/<%= cardToEdit.id %>?_method=delete"
            method="post"
         >
            <button type="submit">Delete card</button>
         </form>
      </main>
      <%- include('./partials/footer')%>
   </body>
</html>
