<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('./partials/head')%>
      <title>Cards Create Form</title>
   </head>
   <body>
      <%- include('./partials/header')%>
      <main>
         <h2>Create a new media card</h2>
         <form
            action="/cards/create"
            method="post"
            enctype="multipart/form-data"
         >
            <div>
               <label for="genres">Genres</label>
               <input
                  type="text"
                  id="genres"
                  name="genres"
                  placeholder="Horror, Science Fiction..."
                  value="<%= locals.oldData ? oldData.genres : null %>"
               />
               <% if (locals.errors && errors.genres) { %>
               <p class="errors"><%= errors.genres.msg %></p>
               <% } %>
            </div>
            <div>
               <label for="image">Image</label>
               <input
                  type="file"
                  id="image"
                  name="image"
                  value="<%= locals.oldData ? oldData.image : null %>"
               />
               <% if (locals.errors && errors.image) { %>
               <p class="errors"><%= errors.image.msg %></p>
               <% } %>
            </div>
            <div>
               <label for="link">Trailer link's</label>
               <input
                  type="text"
                  id="link"
                  name="link"
                  placeholder="https://youtu.be/_cpXhGxGfgY?si=fW2-x4QxY6XfPMpR"
                  value="<%= locals.oldData ? oldData.link : null %>"
               />
               <% if (locals.errors && errors.link) { %>
               <p class="errors"><%= errors.link.msg %></p>
               <% } %>
            </div>
            <div>
               <label for="rating">Rating</label>
               <input
                  type="number"
                  id="rating"
                  name="rating"
                  placeholder="76"
                  value="<%= locals.oldData ? oldData.rating : null %>"
               />
               <% if (locals.errors && errors.rating) { %>
               <p class="errors"><%= errors.rating.msg %></p>
               <% } %>
            </div>
            <div>
               <label for="synopsis">Synopsis</label>
               <input
                  type="text"
                  id="synopsis"
                  name="synopsis"
                  value="<%= locals.oldData ? oldData.synopsis : null %>"
               />
               <% if (locals.errors && errors.synopsis) { %>
               <p class="errors"><%= errors.synopsis.msg %></p>
               <% } %>
            </div>
            <div>
               <label for="title">Title</label>
               <input
                  type="text"
                  id="title"
                  name="title"
                  placeholder="The Batman"
                  value="<%= locals.oldData ? oldData.title : null %>"
               />
               <% if (locals.errors && errors.title) { %>
               <p class="errors"><%= errors.title.msg %></p>
               <% } %>
            </div>
            <div>
               <label for="price">Price</label>
               <input
                  type="text"
                  id="price"
                  name="price"
                  placeholder="0.99"
                  value="<%= locals.oldData ? oldData.price : null %>"
               />
               <% if (locals.errors && errors.price) { %>
               <p class="errors"><%= errors.price.msg %></p>
               <% } %>
            </div>
            <div>
               <label for="category">Category</label>
               <select name="category" id="category">
                  <option value="Movie">Movie</option>
                  <option value="Serie">Serie</option>
               </select>
            </div>
            <div>
               <button type="submit">Save card</button>
            </div>
         </form>
      </main>
      <%- include('./partials/footer')%>
   </body>
</html>
