<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('./partials/head')%>
      <!-- <link rel="stylesheet" href=""> -->
      <title>Cards Edit Form</title>
   </head>
   <body>
      <%- include('./partials/header')%>
      <main>
         <form
            action="/cards/edit/<%= cardToEdit.id %>?_method=put"
            method="post"
            enctype="multipart/form-data"
         >
            <div>
               <label for="genres">Genres</label>
               <input
                  type="text"
                  id="genres"
                  name="genres"
                  pattern="[a-zA-Z,]{2,50}"
                  value="<%= cardToEdit.genre %>"
               />
            </div>
            <div>
               <label for="image">Image</label>
               <input
                  type="file"
                  id="image"
                  name="image"
                  accept=".jpg, .png, .jpeg"
                  value="<%= cardToEdit.image %>"
               />
            </div>
            <div>
               <label for="link">Trailer link's</label>
               <input
                  type="text"
                  id="link"
                  name="link"
                  value="<%= cardToEdit.link %>"
               />
            </div>
            <div>
               <label for="rating">Rating</label>
               <input
                  type="text"
                  id="rating"
                  name="rating"
                  pattern="[0-9/]{3,7}"
                  value="<%= cardToEdit.rating %>"
               />
            </div>
            <div>
               <label for="synopsis">Synopsis</label>
               <input
                  type="text"
                  id="synopsis"
                  name="synopsis"
                  pattern="[A-Za-z.,()'\ ]{20,200}"
                  value="<%= cardToEdit.synopsis %>"
               />
            </div>
            <div>
               <label for="title">Title</label>
               <input
                  type="text"
                  id="title"
                  name="title"
                  pattern="[A-Za-z0-9: ]{2,100}"
                  value="<%= cardToEdit.title %>"
               />
            </div>
            <div>
               <label for="category">Category</label>
               <select name="category" id="category">
                  <option value="movie">Movie</option>
                  <option value="serie">Serie</option>
               </select>
            </div>
            <div>
               <button type="submit">Confirm edit</button>
            </div>
         </form>
         <form
            action="/cards/delete/<%= cardToEdit.id %>?_method=delete"
            method="post"
         >
            <button type="submit">Delete card</button>
         </form>
      </main>
      <%- include('./partials/footer')%>
      <script src="/js/navbar.js"></script>
   </body>
</html>
