<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <%- include('./partials/head')%>
      <link rel="stylesheet" href="/styles/snacks/snacks.css" />
      <title>Document</title>
   </head>
   <body>
      <%- include('./partials/header')%>
      <main>
         <h4>Products</h4>
         <div class="productos">
            <% snacksProducts.forEach((snack)=> { %>
            <section class="tarjeta">
               <img
                  src="/images/snacks/<%= snack.image %>"
                  alt="<%= snack.description %>"
                  class="fotoTarjeta"
               />
               <div class="container-descripcion">
                  <div>
                     <p class="precio"><%= snack.price %></p>
                     <h3 class="descripcion"><%= snack.description %></h3>
                  </div>
                  <button type="submit">
                     <i class="fa-solid fa-cart-plus"></i>
                  </button>
               </div>
            </section>
            <% }) %>
         </div>
         <h4>Promotions</h4>
      </main>
      <%- include('./partials/footer')%>
   </body>
</html>
