<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('../partials/head') %>
      <link rel="stylesheet" href="/styles/snacks/snacks.css" />
   </head>
   <body>
      <%- include('../partials/navbar') %>
      <main class="snacks-main-container">
         <h2 class="snack-main-title">Snacks</h2>
         <section class="snack-container">
            <% snacksProducts.forEach((snack)=> { %>
            <article class="snack">
               <img
                  src="/images/snacks/<%= snack.image %>"
                  alt="<%= snack.description %>"
                  class="snack-img"
               />
               <div class="snack-info">
                  <h3 class="snack-title"><%= snack.description %></h3>
                  <div>
                     <p class="snack-price"><%= snack.price %></p>
                     <button class="snack-button" type="submit">
                        <i class="fa-solid fa-cart-plus"></i>
                     </button>
                  </div>
               </div>
            </article>
            <% }) %>
         </section>
      </main>
      <%- include('../partials/footer') %>
   </body>
</html>
