<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <%- include('./partials/head')%>
      <link rel="stylesheet" href="/styles/snacks/snacks-form.css" />
      <title>Snacks create form</title>
   </head>
   <body>
      <%- include('./partials/header')%>
      <main>
         <form
            action="/snacks/create"
            method="post"
            enctype="multipart/form-data"
            class="form"
         >
            <div>
               <label for="image">Ingrese una imagen</label>
               <input
                  type="file"
                  id="image"
                  name="image"
                  class="form-input"
                  value="<%= locals.oldData ? oldData.image : null %>"
               />
               <% if (locals.errors && errors.image) { %>
               <p class="errors"><%= errors.image.msg %></p>
               <% } %>
            </div>
            <div>
               <label for="price">Ingrese precio</label>
               <input
                  type="text"
                  id="price"
                  name="price"
                  placeholder="4.99"
                  class="form-input"
                  value="<%= locals.oldData ? oldData.price : null %>"
               />
               <% if (locals.errors && errors.price) { %>
               <p class="errors"><%= errors.price.msg %></p>
               <% } %>
            </div>
            <div>
               <label for="description">Ingrese descripcion corta</label>
               <input
                  type="text"
                  id="description"
                  name="description"
                  placeholder="Soda with chips"
                  class="form-input"
                  value="<%= locals.oldData ? oldData.description : null %>"
               />
               <% if (locals.errors && errors.description) { %>
               <p class="errors"><%= errors.description.msg %></p>
               <% } %>
            </div>
            <div>
               <button type="submit">Save item</button>
            </div>
         </form>
      </main>
      <%- include('./partials/footer')%>
   </body>
</html>
