<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('../partials/head')%>
      <link rel="stylesheet" href="/styles/snacks/snacks.css" />
   </head>
   <body>
      <%- include('../partials/navbar')%>
      <main>
         <article>
            <p class="title">Snacks</p>
            <section class="products">
               <% snacksProducts.forEach((snack)=> { %>
               <article class="card">
                  <img
                     src="/images/snacks/<%= snack.image %>"
                     alt="<%= snack.description %>"
                     class="cardPhoto"
                  />
                  <div class="container-description">
                     <p class="price"><%= snack.price %></p>
                     <h3 class="description"><%= snack.description %></h3>
                     <button class="buy-button" data-name="<%= snack.description %>" data-price="<%= snack.price %>" data-id="<%= snack.id %>">
                        <i class="fa-solid fa-cart-plus"></i>
                     </button>
                  </div>
               </article>
               <% }) %>
            </section>
         </article>
      </main>
      <%- include('../partials/footer')%>
      <script src="/js/scripts.js" ></script>
   </body>
</html>
